{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{%static 'font-awesome/css/font-awesome.min.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
        
    </head>
    <body>
        <div class="container m-5 p-2 rounded mx-auto bg-light shadow">
            <!-- App title section -->
            <div class="row m-1 p-4">
                <div class="col">
                    <a href="/" style="text-decoration:none">
                        <div class="p-1 h1 text-primary text-center mx-auto display-inline-block">
                            <i class="fa fa-check bg-primary text-white rounded p-2"></i>
                        <u>My Todo-s</u>
                    </div>
                </a>
                </div>
            </div>
            <!-- Create todo section -->
            <form id="todoForm" class="todoForm" method="post">
                <div class="row m-1 px-3 py-2">
                    <div class="col col-11 mx-auto">
                        <div class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center">
                            <div class="col">
                                {% csrf_token %}

                                <input type="text" name="todoid" id="todoid">
                                <input class="form-control form-control-lg border-0 add-todo-input bg-transparent rounded" type="text" placeholder="Add new .." name="task" id="task">
                            </div>
                            <div class="col-auto m-0 px-2 d-flex align-items-center">
                                <input class="form-control form-control-lg border-0 add-todo-input bg-transparent rounded" type="date" name="date" id="date">
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                

                <div class="row m-1 px-3">
                    <div class="col col-11 mx-auto">
                        <div class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center">
                            <div class="col">
            
                                <textarea class="form-control form-control-lg border-0 add-todo-input bg-transparent rounded" type="text" placeholder="Description .." name="description" id="description"></textarea>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>

                <div class="row m-1 px-3">
                    <div class="col col-11 mx-auto">
                        <div class="row p-2 add-todo-wrapper">
                            
                           
                            <div class="col-auto px-0 mx-0 mr-2">
                                <input type="submit" id="submit" value="Add Todo" class="btn btn-primary">
                            </form>
                            <a href="todos"><button class="btn btn-primary ml-2" type="button">List Todo</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            
            <div class="p-2 mx-4 border-black-25 border-bottom"></div>
            
            <!-- Todo list section -->
            <div class="row mx-1 px-5 pb-3 w-80">
                <div class="col mx-auto">
                    {%if todos%}
                    {% for todo in todos %}
                    
                    {%include 'todo.html'%}

                    {% endfor %}
                    
                    {%elif todo%}
                    {%include 'todo.html'%}
                    {%endif%}
                   
                    
                </div>
            </div>
        </div>
        <script>
            window.addEventListener('DOMContentLoaded', function() {
                var form = document.getElementById('todoForm');
                var todoIdInput = document.getElementById('todoid');
        
                form.addEventListener('submit', function(event) {
                    if (todoIdInput.value.trim() === '') {
                        form.action = '/todo';
                    } else {
                        form.action = '/todo/' + todoIdInput.value.trim() + '/update';
                    }
                });
            });
        </script>
        <script src="{% static 'js/todo.js' %}"></script>
    </body>
</html>
